<% if @user.errors.any? %>
  <div id="error-explanation">
    <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this article from being saved: </h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.label :username, "Your name please" %>
  <%= form.text_field :username, :value => "Test" %>
  <%= form.label :email, "Your email here" %>
  <%= form.email_field :email, placeholder: "email@example.com" %>
  <%= form.label :password, "Your password" %>
  <%= form.password_field :password %>
  <%= form.submit "Submit" %>
<% end %>